@charset "utf-8";
/* CSS Document */

body {
	background-color:#FFE;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:medium;
	color:#333;
}

.titulo {
	font-size:large;
	font-weight:bold;
	color:#006;
}
